<%= render 'common/nav' %>
<!-- Top content -->
<div class="top-content section-container">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text">
          <h1 class="wow fadeInLeftBig"><strong>Esto es</strong> Contact</h1>
          <div class="divider-1 wow fadeInUp"><span></span></div>
          <div class="description wow fadeInLeftBig">
            Un bloque de contenido para contacto.
          </div>
          <div class="top-big-link wow fadeInUp">
            <a class="btn btn-link-1 scroll-link" href="#features">Take a look</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
